<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeafAssist</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="page-container">
        <header>
            <h1>Welcome to DeafAssist</h1>
        </header>

        <div class="description">
            <p>This provides educational resources to assist the hearing impaired 
                in learning alphabets, numbers, colors, and shapes.</p>
        </div>

        <div class="intro-text">
            <p>Choose a category below to get started!</p>
        </div>

        <div class="container">
            <div class="tile alphabet" >
                <a href="/alp">Alphabets</a>
            </div>
            <div class="tile numbers">
                <a href="#numbers">Numbers</a>
            </div>
            <div class="tile colors">
                <a href="#colors">Colors</a>
            </div>
            <div class="tile symbols">
                <a href="#symbols">Shapes</a>
            </div>
        </div>
    </div>

    
</body>
</html>
